{% extends 'layout.html' %}
{% load static %}
{% block title %}
    <title>Home Page</title>
{% endblock title %}
{% block content %}
<h1 class='bg-orange-500 text-3xl'>This is Home Page</h1>
<p>This is a simple Django template example.</p>
<p class='text-center'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, excepturi? Maxime accusantium cumque hic explicabo ipsa numquam repudiandae omnis alias fugiat, officia qui illo dolorem recusandae, ex temporibus facilis assumenda.</p>
{% endblock content %}